{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Descubra novos livros!!{% endblock %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/descubra.css' %}">
{% endblock %}
{% block 'body' %}
    <main>
        <div class="carousel-container">
            <button class="prev" onclick="scrollCarousel(-300)">&#10094;</button>
            <div class="carousel-items">
                {% for item in livros %}
                    <div class="carousel-item">
                        {% include '_card.html' with item=item %}
                    </div>
                {% endfor %}
            </div>
            <button class="next" onclick="scrollCarousel(300)">&#10095;</button>
        </div>
    </main>
    <script src="{% static 'js/descubra.js' %}"></script>
{% endblock %}