@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #FFFFFF;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    width: "100%";
    height: 160px;
    padding: 29px 24px;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;

}

header>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Inter', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #2C3435;
}

.pagina_atual {
    color: #7474FD;
}

.barra_pesquisa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.barra_pesquisa ul {
    display: flex;
    width: 737px;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


#div_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#text_logo {
    font-size: 1rem;
    font-weight: 700;
    color: #7474FD;
    font-family: 'Inter', sans-serif;

}

#logo {
    width: 6rem;
    height: auto;
}

#authentication-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

#authentication-links p {
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: #2C3435;
    
}

/*Inputs ded usuario*/
.form-control {
    color: #252525;
    border: none;
    background-color: transparent;
    width: auto;
    height: auto;

}

.form-control:focus {
    outline: none;
    border: none;
    background-color: transparent;
    box-shadow: none;

}

.form-group {
    display: flex;
    height: 2rem;
    width: 20rem;
    padding: 0.5rem 20px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #F3F3F3;
    margin: 0.2rem;
    font-weight: 400;
    justify-content: space-between;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.form-group:has(.form-control:focus) {
    outline: 2px solid #8C8CFF;
    border-radius: 8px;
    
}
.registerbtn {
    display: flex;
    height: 4rem;
    width: 20rem;
    padding: 15px 80px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    border: 5px solid #FFF;
    background: #7474FD;

}

.registerbtn p {
    color: #FFF;
}

.registerbtn:active {
    transform: scale(0.95);
    opacity: 0.9;
}

/*Alert css*/
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.35rem;
}

.alert-danger {
    color: #78261f;
    background-color: #fadbd8;
    border-color: #f8ccc8;
}

.text-danger {
    color: #e74a3b !important;
}

a.text-danger:hover,
a.text-danger:focus {
    color: #be2617 !important;
}
