@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


main {
    display: flex;
    flex-direction: column;

}

.container {
    display: flex;
    flex-direction: row;
    width: screen;
}



.imagem-perfil {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    margin-right: 0.5rem;

}
.imagem-edit{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.5rem;
}

.info-user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
}

.nome-user {
    color: #444;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.email-user {
    color: #494D4B;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container-imagem-info-detalhes {
    background-color: #F5F5F5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 2rem;
    height: 2rem;
    margin-right:0.2rem ;
}
.imagem-info-detalhes {
    width: 2rem;
    height: 2rem;
    
}