@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
    background-color: #FFF;
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    background-color: #FFF;
    color: #252525;
}

.form-control {
    color: #252525;
    border: none;
    background-color: transparent;
    width: auto;
    height: auto;

}

.form-control:focus {
    outline: none;
    border: none;
    background-color: transparent;
    box-shadow: none;

}

.form-group {
    display: flex;
    height: 2rem;
    width: 20rem;
    padding: 0.5rem 20px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #F3F3F3;
    margin: 0.2rem;
    font-weight: 400;
    justify-content: space-between;
}

.form-control:focus {
    outline: none;
    /* Remove o outline do input */
    box-shadow: none;
    /* Remove qualquer sombra do input */
}

.form-group:has(.form-control:focus) {
    outline: 2px solid #8C8CFF;
    border-radius: 8px;
    
}


.container_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7474FD;
    width: 50vw;
    height: 100vh;
}

.container_left {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: 'center';
    align-items: center;
    background-color: #FFF;
    width: 50vw;
}

img {
    width: 12rem;
    height: auto;
    margin-top: 20vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.registerbtn {
    display: flex;
    height: 4rem;
    width: 20rem;
    padding: 15px 80px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    border: 5px solid #FFF;
    background: #7474FD;

}

.registerbtn p {
    color: #FFF;
}

.registerbtn:active {
    transform: scale(0.95);
    opacity: 0.9;
}
p a{
    color: #dfdede;
}