{% load static %}

<head>
    <link rel="stylesheet" href="{%static 'css/_card.css'%}" />
</head>

<div class="container">
    <div class="image_container">
        <img src="{{item.imagem.url}}" alt="imagem do livro">
    </div>
    <div class="container_interior">
        <p id="titulo">
            {{item.titulo}}
        </p>
        <p>
            {{item.autor.nome}}
        </p>
    </div>
    <a href="{%url 'bibliotecando:detalhesLivro' item.id%}">
        <p>Ver livro</p>
    </a>
</div>