{% load static %}

<head>
    <link rel="stylesheet" href="{%static 'css/_header.css'%}" />
</head>
<header class="header">
    <div id="div_logo">
        <img src=" {% static 'svg/bibliotecando_logo.svg' %}" alt="" id="logo">
        <p id="text_logo">Bibliotecando</p>
    </div>
    <div class="barra_pesquisa">
        <h2>Aqui estará a barra de pesquisa</h2>
        <nav>
            <ul>
                <li><a href="/" class="{% if request.path == '/' %}pagina_atual{% endif %}">Home</a></li>
                <li><a href="{%url 'descubra'%}"
                        class="{% if request.path == '/descubra/' %}pagina_atual{% endif %}">Descubra</a></li>
                <li><a href="{%url 'meusLivros'%}"
                        class="{% if request.path == '/meusLivros/' %}pagina_atual{% endif %}">Meus Livros</a></li>
            </ul>
        </nav>
    </div>
    <h2>Aqui estará o botão de login</h2>
</header>