{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Detalhes do livro{% endblock %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/detalhesLivro.css' %}">
<script src="{% static 'js/detalhesLivro.js' %}" defer></script>
{% endblock %}
{% block 'body' %}
<main>
    <div class="container_titulo">
        <h2 class="titulo_livro">{{ livro.titulo }}</h2>
        <hr class="custom_line">
    </div>
    <div class="container">
        <!-- aqui começa a parte da esquerda -->
        <div>
            <!-- aqui fica o card, caso queira adicionar algo fora dele precisa ser fora da div que vem a seguir -->
            <div class="detalhes_container">
                <div class="detalhes_img">
                    <img src="{{ livro.imagem.url }}" alt="">
                </div>
                <div class="detalhes_info">
                    <div style="display: flex; flex-direction: column;">
                        <p id="nome_livro">{{livro.titulo}}</p>
                        <p>{{livro.autor.nome}}</p>
                        <p id="data_publicacao">{{publicacao}}</p>
                    </div>
                    <button id="favorito-btn" data-favorito="{{ favorito|yesno:'true,false' }}">
                        {% if favorito %}
                            <img class="fav-img" src="{% static 'svg/bookmark_filled.svg' %}" alt="Remover dos favoritos">
                        {% else %}
                            <img class="fav-img" src="{% static 'svg/bookmark.svg' %}" alt="Adicionar aos favoritos">
                        {% endif %}
                    </button>
                </div>
            </div>
            <!-- aqui fica a adição de comentario-->
            {% if autenticado %}
            <form method="post" >
                {% csrf_token %}
                <div style=>
                    <textarea name="texto" placeholder="Deixe seu comentário..." required
                        style="margin-left: 2rem ;"></textarea>
                    <div class="rating">
                        <input type="radio" id="star5" name="nota" value="5" required>
                        <label for="star5" title="5 estrelas">★</label>
                        <input type="radio" id="star4" name="nota" value="4">
                        <label for="star4" title="4 estrelas">★</label>
                        <input type="radio" id="star3" name="nota" value="3">
                        <label for="star3" title="3 estrelas">★</label>
                        <input type="radio" id="star2" name="nota" value="2">
                        <label for="star2" title="2 estrelas">★</label>
                        <input type="radio" id="star1" name="nota" value="1">
                        <label for="star1" title="1 estrela">★</label>
                    </div>

                </div>

                <button class="btn_comentario">
                    <img src="{% static 'svg/coment.svg' %}" alt="">
                </button>
            </form>
            {% endif %}
            <h3 style="margin-left: 2rem; color: #444;">Generos:</h3>
            <div style="margin: 2rem;">
                <p class="categoria">
                    {% for categoria in categorias %}
                    {{categoria.nome}}.
                    {% endfor %}
                </p>
            </div>
        </div>
        <!-- aqui começa a parte da direita  -->
        <div class="container_direita">
            <p>
                {{livro.descricao}}
            </p>
            <!--aqui está a parte de links para download/compra -->
            <div>
                <P>
                    Disponível em:
                </P>
                {%for link in links%}
                <button class="button-link">
                    <a href="{{link.url}}" target="_blank">
                        <p>{{link.nome}}</p>
                    </a>
                </button>
                {%endfor%}
            </div>
            <!-- aqui está a parte de comentarios -->
            <section>
                <h2 class="h2_comentarios">Comentários</h3>
                    <div class="container_comentarios">
                        {% for comentario in comentarios %}
                        <div class="container_comentario">
                            <div class="container_usuario">
                                
                            </div>
                            <div class="comentario">
                                <div style="display: flex; flex-direction: row; justify-content: space-between; padding-inline: 0.5rem; align-items: center;">
                                    <p>{{comentario.usuario.username}}</p>
                                    
                                        <a href="{% url 'bibliotecando:apagarComentario' comentario.id%}">
                                            <img src="{% static 'svg/delete.svg' %}" alt="" style="width: 1.5rem;">
                                        </a>
                                </div>
                                <p>{{comentario.texto}}</p>
                                <p id="estrelas">
                                    {% for i in stars_range %}
                                    {% if i <= comentario.nota %} ★ {% else %} ☆ {% endif %} {% endfor %} </p>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="mt-3">
                            {% include 'bibliotecando/pagination.html' with page_obj=comentarios %}
                        </div>
                    </div>
    
            </section>

        </div>
    </div>
</main>
{% endblock %}